*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:480px){ 

    body{
        background-color: #ffeedc;
    }

    nav{
        background-color: #0e8c77 !important;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo{
        width: 50px;
        margin-left: 10px;
    }

    /* Sidenav menu */
    .sidenav {
        height: 100%;
        width: 175px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -200px;
        padding-top: 60px;
        transition: right 0.5s ease;
        background-color: #0e8c77;
        box-shadow: -5px 0px 50px #0a645557;
      }
  
      /* Sidenav menu links */
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #ffeedc;
        display: block;
        transition: 0.3s;
        text-align: start;
      }
  
      .sidenav a:hover {
        color: #111;
      }
  
      .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
  
      /* Active class */
      .sidenav.active {
        right: 0;
      }
  
      /* Close btn */
      .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
  
      /* Icône burger */
      .burger-icon span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #ffeedc;
        margin-bottom: 6px;
        margin-right: 20px;
      }

      /* PAGE PROFIL */
      #infos_profil{
        margin: auto;
        text-align: center;
        margin-top: 40px;
      }

      #infos_profil img{
        width: 175px;
        margin-bottom: 10px;
      }

      #infos_profil p{
        font-size: 20px;
        margin-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
      }

      #bio_profil{
        margin: auto;
        margin-top: 40px;
        text-align: center;
      }


  
  

}